<div class="cover-page">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
				<%= image_tag "profile.jpg", class: "profile img-circle", width:"125", height: "125" %>
				<div class="intro">
					<h2>A Brief Introduction</h2>
					<p class="lead">Hello! My name is Fazil Azhar and I am currently studying Computer Science at the University of California, Berkeley. As of right now I am searching for internships primarily in the Bay Area and Southern California. Click the links below if you'd like to know more about me and what I've done. <br> Check back soon for more info on completed projects.</p>
					<ul class="pager">
						<li><%= link_to content_tag(:i, "", class: "fa fa-envelope"), "mailto: fazils.azhar@gmail.com" %></li>
						<li><%= link_to content_tag(:i, "", class: "fa fa-file"), asset_path("resume.pdf"), target: "_blank" %></li>
						<li><%= link_to content_tag(:i, "", class: "fa fa-twitter"), "https://twitter.com/fazhar_", target: "_blank" %></li>
						<li><%= link_to content_tag(:i, "", class: "fa fa-github"), "https://github.com/fazhar", target: "_blank" %></li>
						<li><%= link_to content_tag(:i, "", class: "fa fa-linkedin"), "www.linkedin.com/pub/fazil-azhar/87/5a4/238/", target: "_blank" %></li>
					</ul>
				</div>
				<!-- <div class="projects">
					<h4>Projects <span class="view pull-right"> <%= link_to "View All", projects_path %></span></h4>

				</div> -->
			</div>
		</div>
	</div>
</div>
